/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
  @apply bg-black text-white font-sans;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

/* Ocultar scrollbar por defecto (se verá en hover/touch) */
::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
